/* * * * * * * * * * * * * * * * * Global * * * * * * * * * * * * * * * * */
  
  * {
    -webkit-box-sizing: content-box !important;
       -moz-box-sizing: content-box !important;
            box-sizing: content-box !important;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box !important;
       -moz-box-sizing: content-box !important;
            box-sizing: content-box !important;
  } 
      
  /* * * * * * * * * * * * * * * * * Quiz * * * * * * * * * * * * * * * * */

.options {
  justify-content: center;
}

.quiz {
  width: 600px !important;
  height: 540px;
  margin: 50px 0;
  box-shadow: 0 0 8px;
  padding: 0;
}

header {
  height: 100px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  display: flex;
}

.option {
  width: 200px;
  height: 120px;
  margin: 50px;
  box-shadow: 0 0 3px;
  float: left;
  font-size: 28px;
  box-sizing: content-box !important;
}

.displayBorderBlue {
  border: 3px solid blue;
}

.displayBorderRed {
  border: 3px solid red;
}

.option:hover {
  cursor: pointer;
  background-color: azure;
}

.optionP {
  height: 100%;
  display: block;
  color: #212529 !important;
  text-decoration: none;
  transition-delay: 1s;
}

.player {
  margin: 50px 0 !important;
}

/*************************
      Transition Group
*************************/

.page{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

/*************************
        Responsive
*************************/
@media(max-width: 350px){
  .playerBtn{
    width: 250px;
  }
}

@media(max-width: 1024px){
  *{
    box-sizing: border-box !important;
  }
  .quiz{
    box-shadow: none;
    margin: 0 !important;
    flex-direction: column;
  }
  .quiz .options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    justify-content: space-evenly;
  }
  .optionsResponsive{
    display: flex;
    flex-direction: column;
  }
  .questions{
    font-size: 18px !important;
  }
  #game{
    height: 100% !important;
  }
  .playerBtn{
    margin: 0;
  }
  }

  @media  screen and  (min-height: 0)  {
    @media  screen and  (max-width: 1024px)  {
      .optionP{
        font-size: 18px;
        padding-left: 2px;
        padding-right: 2px;
      }
      .option{
        margin: 12px;
        width: 200px;
        height: 60px;
      }
      .options{
        border-top: 1px solid #ddd;
        height: 350px !important;
      }
      .optionsResponsive{
        margin-top: 0 !important;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
      }
      header{
        border-bottom: none;
      }
      .questions{
        font-size: 18px !important;
      }
      .player img {
        height: 160px !important;
        margin-top: 14px;
      }
      .responsivePlayerQuizDisplayNone{
        display: none;
      }
      .responsivePlayerQuiz{
        display: block !important;  
      }
      .responsivePlayerQuizFlex{
        display: flex;
        justify-content: space-around;
      }
      .textWrong{
        margin: 0 !important;
      }
      #countRounds{
        margin-bottom: 0;
      }
      .w-100{
        height: 100%;
        background-color: rgb(200 211 229 / 18%);
        border-bottom: 1px solid #ddd;
        padding-left: 1px;
        padding-right: 1px;
      }
      .questions{
        margin-bottom: 0;
      }
      #scorePlayer{
        font-size: 1.4rem !important;
        margin-bottom: 0;
        margin-top: 8px;
      }
      .textCorrect{
        margin: 0 !important;
      }
      .card-body{
        padding: 0 !important;
      }
    }
  }

  @media  screen and  (min-height: 500px)  {
    @media  screen and  (max-width: 1024px)  {
      .options{
        height: 380px !important;
      }
      #scorePlayer{
        margin-bottom: 10px;
      }
    }
  }
  
  @media  screen and  (min-height: 550px)  {
    @media  screen and  (max-width: 1024px)  {
      .options{
        height: 430px !important;
      }
      .player img {
        height: 200px !important;
      }
      #scorePlayer{
        margin-bottom: 15px;
      }
    }
  }

  @media  screen and  (min-height: 600px)  {
    @media  screen and  (max-width: 1024px)  {
      .options{
        height: 480px !important;
      }
      #countRounds{
        padding-top: 0!important;
        margin-bottom: 15px;
      }
      .responsivePlayerQuizFlex{
        display: block;
      }
      .card-body{
        padding: 1rem !important;
      }
      #scorePlayer{
        margin-bottom: 0px;
      }
    }
  }

  @media  screen and  (min-height: 650px)  {
    @media  screen and  (max-width: 1024px)  {
      .options{
        height: 530px !important;
      }
      header{
        height: 120px !important;
      }
      .player img {
        margin-top: 30px;
      }
      #scorePlayer{
        font-size: 1.5rem !important;
        margin-top: 15px;
      }
    }
  }
  
  @media  screen and  (min-height: 700px)  {
    @media  screen and  (max-width: 1024px)  {
      .options{
        height: 560px !important;
      }
      #countRounds{
        margin-bottom: 35px;
      }
      .player img {
        height: 220px !important;
        margin-top: 25px;
      }
      .questions{
        font-size: 22px !important;
      }
      .option{
        height: 90px
      }
      .optionP{
        font-size: 22px !important;
      }
    }
  }
  
  @media  screen and  (min-height: 750px)  {
    @media  screen and  (max-width: 1024px)  {
      header{
        height: 150px !important;
      }
      .options{
        height: 580px !important;
      }
      .questions{
        font-size: 22px !important;
      }
      #countRounds{
        margin-bottom: 35px;
      }
      .player img {
        height: 240px !important;
        margin-top: 25px;
      }
      #playerBtn{
        margin-bottom: 20px;
      }
    }
  }

  @media  screen and  (min-height: 850px)  {
    @media  screen and  (max-width: 1024px)  {
      .options{
        height: 650px !important;
      }

    }
  }